@page
@model SDLV1.Pages.Roles.ManageRoleModel
@{
}



<div class="row" id="DivAll">

    @foreach (var item in Model.Permissions.Where(S => S.IsMenu == true))
    {
        var UnderMenu = Model.Permissions.Where(s => s.SubCode == item.SubCode && s.IsMenu == false).ToList();
        var Checked = "";
        var UndelDiv = "div"+item.Code.ToString();
        if (item.IsChecked == true)
        {
            Checked = "checked";
            
        }
        <div class="col-md-12 p-4">
            <div class="form-check form-switch">
                <input class="form-check-input @item.Code " data-Id="@item.Id" type="checkbox" role="switch" Id="@item.Code" onclick="AddPermissionMain('@item.Code')" id="flexSwitchCheckDefault" @Checked>
                <label class="form-check-label me-3" for="flexSwitchCheckDefault">@item.Title </label>
            </div>
        </div>


        <div class="col-md-12 row pe-5 @UndelDiv">
            @foreach (var _item in UnderMenu)
            {
                var _Checked = "";
                if (_item.IsChecked == true)
                {
                    _Checked = "checked";
                }
                <div class="form-check form-switch col-md-2">
                    <input class="form-check-input @item.Code  @_item.Code" data-Main="@item.Code" Id="@_item.Code" data-Id="@_item.Id" type="checkbox" onclick="AddPermissionUnderMenu('@_item.Code')" role="switch" id="flexSwitchCheckDefault" @_Checked>
                    <label class="form-check-label me-3" for="flexSwitchCheckDefault">@_item.Title </label>
                </div>
            }
        </div>
        <hr />
    }
    <form asp-page="ManageRole" method="post" >
        <a onclick="AddPerMissin()" class=" btn btn-info"> تست </a>
    </form>
</div>

<script>
    function AddPermissionMain(Code) {
        var check = $("#" + Code + "").prop('checked');
        if (check) {
            $("." + Code + "").prop("checked", true);
       }else{
            $("." + Code + "").prop("checked", false);
       }
    }
    function AddPermissionUnderMenu(test) {
        var _check = $("#" + test + "").prop('checked');
        var Main = $("#" + test + "").attr("data-Main");
        if (_check) {
            $("#" + Main + "").prop("checked", true);
        } else {
            var x=0;
            $('.div'+Main+'  input').each(function () {
                var check = $(this).prop('checked');
                if (check) {
                  x=1;
                } else {

                }
            });
            if (x == 0) {
                $("#" + Main + "").prop("checked", false);
            }
        }
    }
    function AddPerMissin(){
        var ids="";
        $('#DivAll input').each(function () {
            var check = $(this).prop('checked');
            if (check) {
                var Id = $(this).attr("data-Id");
                ids = ids+"/"+Id;
            } else {
               
            }
        });
        $.ajax({
            type: "POST",
            url: "?handler=AddPermission",
            dataType: "json",
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: {
                "ids": ids,
            },
            success: function (data) {
                window.location.reload();
            }
        });
    }
</script>
