@page
@model SDLV1.Pages.Roles.ManageRoleModel
@{
    var OldPer = "";
}

<div class="row">

    @foreach (var item in Model.Permissions.Where(S => S.IsMenu == true))
    {
        var UnderMenu = Model.Permissions.Where(s => s.SubCode == item.SubCode && s.IsMenu == false).ToList();
        var Checked = "";
        if (item.IsChecked == true)
        {
            Checked = "checked";
            OldPer ="/"+ OldPer + item.Id.ToString();
        }
        <div class="col-md-12 p-4">
            <div class="form-check form-switch">
                <input class="form-check-input @item.Code " data-Id="@item.Id" type="checkbox" role="switch" Id="@item.Code" onclick="AddPermissionMain('@item.Code')" id="flexSwitchCheckDefault" @Checked>
                <label class="form-check-label me-3" for="flexSwitchCheckDefault">@item.Title </label>
            </div>
        </div>
        <div class="col-md-12 row pe-5">
            @foreach (var _item in UnderMenu)
            {
                var _Checked = "";
                if (_item.IsChecked == true)
                {
                    _Checked = "checked";
                    OldPer = "/" + OldPer + _item.Id.ToString();
                }
                <div class="form-check form-switch col-md-2">
                    <input class="form-check-input @item.Code  @_item.Code" data-Main="@item.Code" Id="@_item.Code" data-Id="@item.Id" type="checkbox" onclick="AddPermissionUnderMenu('@_item.Code')" role="switch" id="flexSwitchCheckDefault" @_Checked>
                    <label class="form-check-label me-3" for="flexSwitchCheckDefault">@_item.Title </label>
                </div>
            }
        </div>
        <hr />
    }
    <form asp-page="ManageRole" method="post" >
        <input type="hidden" value="@OldPer" id="OldPermission"/>
    </form>
</div>

<script>
    function AddPermissionMain(Code) {
        var check = $("#" + Code + "").prop('checked');
        if (check) {
            $("." + Code + "").prop("checked", true);
       }else{
            $("." + Code + "").prop("checked", false);
       }
    }
    function AddPermissionUnderMenu(code) {
        var _check = $("#" + Code + "").prop('checked');
        var Main = $("#" + Code + "").attr("data-Main");
        if (check) {
         
            console.log(Main);
        } else {
            console.log(Main);
        }
    }
</script>
