@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model LoginWithRecoveryCodeModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Recovery code verification");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}


<h1>@ViewData["Title"]</h1>
<hr />
<p dir="@(isRTL ? "RTL" : "LTR")">
    @localizationService.GetLocalizedHtmlString("You have requested to log in with a recovery code. This login will not be remembered until you provide"+
    "an authenticator app code at log" +"in or disable 2FA and log in again.");
    
</p>
<div class="row" dir="@(isRTL ? "RTL" : "LTR")">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.RecoveryCode" class="form-label">@localizationService.GetLocalizedHtmlString("RecoveryCode")</label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizationService.GetLocalizedHtmlString("log in")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}