@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model ResetPasswordConfirmationModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Reset password confirmation");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}

<h1>@ViewData["Title"]</h1>
<p dir="@(isRTL ? "RTL" : "LTR")">
    @localizationService.GetLocalizedHtmlString("Your password has been reset. Please") <a asp-page="./Login">@localizationService.GetLocalizedHtmlString("click here to log in")</a>.
</p>
