@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}


@{

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>@localizationService.GetLocalizedHtmlString("Manage your account")</h1>

<div dir="@(isRTL ? "RTL" : "LTR")">
    <h2>@localizationService.GetLocalizedHtmlString("Change your account settings")</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
