@page
@model ChangePasswordModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Change password");
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}



<div class="container-md justify-content-md-between col-md-4" dir="@(isRTL ? "RTL" : "LTR")">

    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row" >
        <div class="p-4" style="border:4px solid red">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.OldPassword" class="form-label">@localizationService.GetLocalizedHtmlString("OldPassword")</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.NewPassword" class="form-label">@localizationService.GetLocalizedHtmlString("NewPassword")</label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">@localizationService.GetLocalizedHtmlString("ConfirmPassword")</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">@localizationService.GetLocalizedHtmlString("Update password")</button>
            </form>
        </div>
    </div>

</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
